naamruimte

prostranstvootimena
navnerum
Namespace
khorosonomaton
espaciodenombres
nimeruumi

espacedenoms
anvanowm
namespace
MingQianKongJian
neimseupeiseu
Nummraum
namespace
naamruimte
namespace
przestrzennazw
Prostranstvoimen
namespace
namespace
ad
MingMingKongJian
